<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- GPS / location -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- Network -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Notifications & Alarm -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/solatnearby"
        android:label="SolatNearby"
        android:roundIcon="@drawable/solatnearby"
        android:supportsRtl="true"
        android:theme="@style/Theme.SolatNearby">
        <activity
            android:name=".HistoryActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.SolatNearby.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".NearbyMasjidActivity"
            android:exported="false" />
        <activity
            android:name=".MasjidDetailActivity"
            android:exported="false" />
        <activity
            android:name=".MapNavigationActivity"
            android:exported="false" />
        <activity
            android:name=".PrayerTimesActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />

        <receiver android:name=".PrayerReceiver"
            android:exported="false"/>



    </application>

</manifest>